.wttb-preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  @apply bg-gradient-to-br from-cyan-500 via-sky-800 to-slate-900;
}

.wttb-preloader-wrap > div {
  position: absolute;
  margin: auto;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}


.cssload-loader {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.cssload-loader {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -ms-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out;
}

.cssload-loader:before,
.cssload-loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
  content: "";
}

.cssload-loader:before {
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.6;
  top: -1px;
  left: -1px;
  opacity: 0;
  animation-name: cssload-pulse;
  -o-animation-name: cssload-pulse;
  -ms-animation-name: cssload-pulse;
  -webkit-animation-name: cssload-pulse;
  -moz-animation-name: cssload-pulse;
}


.cssload-loader:after {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  animation-name: cssload-pulse-2;
  -o-animation-name: cssload-pulse-2;
  -ms-animation-name: cssload-pulse-2;
  -webkit-animation-name: cssload-pulse-2;
  -moz-animation-name: cssload-pulse-2;
}


@keyframes cssload-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@-o-keyframes cssload-pulse {
  0% {
    -o-transform: scale(1);
    opacity: 1;
  }
  50% {
    -o-transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -o-transform: scale(1.3);
    opacity: 0;
  }
}

@-ms-keyframes cssload-pulse {
  0% {
    -ms-transform: scale(1);
    opacity: 1;
  }
  50% {
    -ms-transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -ms-transform: scale(1.3);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

@-moz-keyframes cssload-pulse {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes cssload-pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@-o-keyframes cssload-pulse-2 {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(0.7);
  }
  100% {
    -o-transform: scale(1);
  }
}

@-ms-keyframes cssload-pulse-2 {
  0% {
    -ms-transform: scale(1);
  }
  50% {
    -ms-transform: scale(0.7);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes cssload-pulse-2 {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cssload-pulse-2 {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.7);
  }
  100% {
    -moz-transform: scale(1);
  }
}